.navbar  img {
    height: 40px;
    margin: 5px 0;
}
.navbar-brand {
    padding: 0;
}
#conteudo {
    margin-bottom: 40px;
    padding: 70px 15px 30px 15px;
}
#rodape {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: #f5f5f5;
}
#rodape .container .text-muted {
    margin: 10px 0;
}
